* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1500px) {
    .left-panel {
        position: absolute;
        left: -100%;
        transition: all 0.4s;
        z-index: 1;
        width: 350px;
        background-color: black;
    }
    .right-panel {
        width: 95vw;
        margin: 10px;
    }
    .playbar {
        width: 90vw;
        /* position: relative; */
    }
    .playbar-icons {
        display: flex;
        align-items: center;
    }
    .hamburger {
        display: block;
    }
    .close {
        display: block;
        cursor: pointer;
        height: 20px;
    }
}